/*Fake Terminal*/
body {
  background-color: #444;
}

.wrapper {
  width: 70%;
  margin-left: 15%;
  background-color: #444;
  color: green;
}

.display {
  width: 70%;
  margin: 40px auto;
  background-color: black;
  padding: 40px;
  height: 300px;
}

.row {
  display: flex;
}

.row * {
  flex: 1 1 auto;
}

.button {
  padding: 30px;
  background-color: #666;
  color: white;
  text-align: center;
}

input {
  margin: 20px;
  font-size: 30px;
  background-color: #222;
  color: white;
  padding: 6px 20px;
  border: none;
}